.customButton {
    border-radius: 10px!important;
    padding: 26px 5px!important;
    background-color: #ff7d1a!important;
    display: flex!important;
    align-items: center!important;
    justify-content: center!important;
    gap: 10px!important;
    color: #ffffff!important;
    font-weight: 700!important;
    cursor: pointer!important;
    width: 100%!important;

  }
  
  .customButton:hover {
   opacity: 0.8;
  }
  