/* Navbar.module.css */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    height: 100px;
    background-color: #f5f5f5;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  .navbar p{
    font-size: 40px!important;
    letter-spacing: 3px;
  }
  .shopIcon:hover {
    cursor: pointer;
    color: #333;
  }
  