@import "@radix-ui/colors/mauve.css";

/* reset */
a {
	all: unset;
}
.cartHeader label{
    min-height: 40px;
    border-bottom: 1px solid rgb(216, 216, 216);
    font-size: 24px;
    margin-bottom: 20px;
}
.emptyCart{
    min-height: 100px;
    min-width: 400px;
    font-size: 24px;
    margin-bottom: 20px;
    color: rgb(0, 0, 0);
    text-shadow: 2px 2px 2px rgb(255, 213, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
}
.HoverCardContent {
	border-radius: 6px;
	padding: 30px;
	max-width: 800px;
    min-height: 200px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    margin-right: 2px;
	background-color: white;
	box-shadow:
		hsla(0, 0%, 0%, 0.35) 0px 10px 38px -10px,
		hsla(0, 0%, 0%, 0.2) 0px 10px 20px -15px;
	animation-duration: 400ms;
	animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
	will-change: transform, opacity;
    z-index: 1000;
}
.HoverCardContent[data-side="top"] {
	animation-name: slideDownAndFade;
}
.HoverCardContent[data-side="right"] {
	animation-name: slideLeftAndFade;
}
.HoverCardContent[data-side="bottom"] {
	animation-name: slideUpAndFade;
}
.HoverCardContent[data-side="left"] {
	animation-name: slideRightAndFade;
}

.HoverCardArrow {
	fill: white;
}

.ImageTrigger {
	cursor: pointer;
	border-radius: 100%;
	display: inline-block;
}
.ImageTrigger:focus {
	box-shadow: 0 0 0 2px white;
}

.Image {
	display: block;
	border-radius: 100%;
}
.Imagenormal {
	width: 45px;
	height: 45px;
}
.Imagelarge {
	width: 100px;
	height: 100px;
    margin-top: 5px;
    margin-right: 10px;
}

.Text {
	margin: 20px 10px;
	color: var(--mauve-12);
	font-size: 15px;
	line-height: 1.5;
    width: 90%;
}
.deleteIcon {
	color: red;
    font-size: 25px;
    cursor: pointer;
}
.size {
	font-weight: 500;
}

@keyframes slideUpAndFade {
	0% {
		opacity: 0;
		transform: translateY(2px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes slideRightAndFade {
	0% {
		opacity: 0;
		transform: translateX(-2px);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes slideDownAndFade {
	0% {
		opacity: 0;
		transform: translateY(-2px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes slideLeftAndFade {
	0% {
		opacity: 0;
		transform: translateX(2px);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}
